.about-bg {
    background-image: url('../../public/images/about.png');
  }
  
  .finblog-bg {
    background-image: url('../../public/images/finblog.png');
  }
  
  .team-bg {
    background-image: url('../../public/images/team.png');
  }
