.acerca-bg {
    background-image: url('../assets/images/acerca.png');
  }
  
  .finblog-bg {
    background-image: url('../assets/images/finblog.png');
  }
  
  .equipo-bg {
    background-image: url('../assets/images/equipo.png');
  }