.about-bg {
    background-image: url('../assets/images/about.png');
  }
  
  .finblog-bg {
    background-image: url('../assets/images/finblog.png');
  }
  
  .team-bg {
    background-image: url('../assets/images/team.png');
  }